<h1>Calculadora</h1>

<p>
  Primer Número: <input type="number" [(ngModel)]="fNum" />
  Segundo Número: <input type="number" [(ngModel)]="sNum" />
  Resultado: <span style="color: red; font-weight: bold">{{result}}</span>
</p>

<div>
  <button (click)="sumar()">Sumar</button>
  <button (click)="restar()">Restar</button>
  <button (click)="multiplicar()">Multiplicar</button>
  <button (click)="dividir()">Dividir</button>
  <button (click)="pasarABinario()">Pasar a binario</button>
  <button (click)="clean()">Limpiar</button>
</div>


<h2>Historial de operaciones</h2>


<button (click)="handlerChange()">{{show }} historial</button>
<ul *ngIf="mostrar" >
  <li *ngFor="let operacion of historial" class="history">
    {{operacion}}
  </li>
</ul>